body {
    background-color: #2d0c04;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    background-color: #064E3B;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 760px;
    max-width: 480px;
    text-align: center;
}
.card {
    color: white;
    font-size: 2.5rem;
    margin: auto;
    padding-bottom: 1.25rem;
    text-align: center;
    width: auto;
}

.title {
    font-size: larger;
    margin-bottom: .5rem;
    padding: 0;
}

.score {
    background-color: black;
    color: red;
    font-size: 128px;
    height: 11rem;
    margin: 0;
    margin-bottom: 1rem;
    width: 15rem;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-group > button {
    background: none;
    border: 1px dashed white;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: 4rem;
    width: 4rem;
}

#reset {
    display: block;
    margin: auto;
}

#reset-btn {
    background: none;
    border: .125rem double whitesmoke;
    color: whitesmoke;
    display: block;
    font-size: 1.5rem;
    height: auto;
    margin: .5rem auto;
    padding: .125rem .5rem;
    width: auto;
}