body {
    background-color: #2d0c04;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    background-color: #064E3B;
    color: white;
    column-gap: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: auto;
    max-height: 768px;
    max-width: 1024px;
    row-gap: 0;
    text-align: center;
}
.card {
    color: white;
    font-size: 1.875rem;
    margin: auto;
    padding-bottom: 1.25rem;
    text-align: center;
    width: auto;
}

#p2 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#p3 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#p4 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.title {
    font-size: medium;
    margin-bottom: .5rem;
    padding: 0;
}

.score {
    align-content: center;
    background-color: black;
    color: red;
    font-size: 90px;
    font-style: normal;
    height: 7.5rem;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    width: 9.6875rem;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-group > button {
    background: none;
    border: 0.0625rem dashed white;
    border-radius: 0.125rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: 2.8125rem;
    width: 2.8125rem;
}

#reset {
    display: block;
    margin: auto;

}

#reset-btn {
    background: none;
    border: .125rem double whitesmoke;
    color: whitesmoke;
    display: block;
    font-size: 1.5rem;
    height: auto;
    margin: .5rem auto;
    padding: 0.125rem;
    width: auto;
}